.header {
    background-color: #63e7dc;
    color: #333;
    text-align: center;
    padding: 1rem;
}

.grid-conteiner {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid #ddd;
    padding: 1rem;
}

.footer {
    background-color: #63e7dc;
    color: #333;
    text-align: center;
    padding: 1rem;
}